#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: linear-gradient(45deg, #f8f8f8, transparent);
  min-height: 100vh;
}

*,
.btn {
  text-transform: capitalize;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

:root {
  --main-color: #fed330;
  --second-color: #e74c3c;
  --white-color: #ffffff;
  --black-color: #222;
  --light-color: #777;
  --main-border: 0.2rem solid var(--black-color);
  --main-transition: all 0.2s;
}

.box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  color: var(--black-color);
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: var(--black-color);
  min-height: 20vh;
  padding: 1rem;
}

.heading h3 {
  font-size: 3rem;
  color: var(--white-color);
}

.heading p {
  font-size: 2rem;
  color: var(--light-color);
}

.heading p a {
  color: var(--white-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.heading p a:hover {
  color: var(--main-color) !important;
  text-decoration: underline;
}

.form-container {
  margin: 3rem auto;
  max-width: 30em;
  border: var(--main-border);
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.form-container h3 {
  font-size: 2rem;
  color: var(--black-color);
}

.form-container form {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.form-container form .box {
  width: 100%;
  text-align: initial;
}

.form-container form .box input {
  padding: 0.5rem;
  width: 100%;
  border: 3px solid var(--black-color);
}

.form-container form p {
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-container form p a {
  font-weight: 500;
  color: var(--light-color);
}

.form-container form p a:hover {
  text-decoration: underline;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.btn,
.delete-btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.btn:hover,
.delete-btn:hover {
  letter-spacing: 2px;
}

.btn {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: var(--main-color) !important;
  color: var(--black-color);
}

.delete-btn {
  background-color: var(--second-color);
  color: var(--white-color);
}
/*# sourceMappingURL=custom.css.map */